<%- include('includes/head') %>
<%- include('includes/nav') %>
<main>
    <h1>Ola <%= user.email %></h1>
    <p>Você precisa sair para criar outro email.</p>
    <%- include('includes/messages'); %>
    
    
</main>
<%- include('includes/footer') %>